{% load wagtailcore_tags wagtailimages_tags %}
<div class="container flex flex-col justify-between px-5 mx-auto mb-10 sm:flex-row">
    <div class="flex flex-col mt-5 sm:mt-10">
        <p class="text-xl text-gray-500">{{ page.meta_text }}</p>
        <div class="w-4/5 mt-5 text-lg text-black sm:w-2/3 rich-text">{{ page.introduction|richtext }}</div>
    </div>
    <div class="max-w-xs mx-auto mt-10">
        <picture>
            {% image page.hero_image fill-320x320 format-webp as image_webp %}
            <source srcset="{{ image_webp.url }}" type="image/webp">
        
            {% image page.hero_image fill-320x320 format-png as image_png %}
            <source srcset="{{ image_png.url }}" type="image/png">
        
            {% image page.hero_image fill-320x320 class="rounded-full" format-png %}
        </picture>
        <p class="text-base leading-6 text-center text-gray-500">{{ page.image_credit }}</p>
    </div>
</div>
